amqp==5.3.1
annotated-types==0.7.0
asgiref==3.8.1
billiard==4.2.1
build==1.2.2.post1
CacheControl==0.14.1
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clickhouse-connect==0.8.5
crashtest==0.4.1
cron-descriptor==1.4.5
distlib==0.3.9
Django==5.1.2
django-celery-beat==2.7.0
django-environ==0.11.2
django-timezone-field==7.0
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.16.1
idna==3.10
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
kombu==5.4.2
lz4==4.3.3
more-itertools==10.5.0
msgpack==1.1.0
packaging==24.2
pexpect==4.9.0
pkginfo==1.11.2
platformdirs==4.3.6
pluggy==1.5.0
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
prompt_toolkit==3.0.48
psycopg2==2.9.10
ptyprocess==0.7.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pyproject_hooks==1.2.0
pytest==8.3.3
pytest-django==4.9.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
RapidFuzz==3.10.1
redis==5.2.0
requests==2.32.3
requests-toolbelt==1.0.0
ruff==0.7.1
sentry-sdk==2.1.1
shellingham==1.5.4
six==1.16.0
sqlparse==0.5.2
structlog==24.4.0
tomlkit==0.13.2
trove-classifiers==2024.10.21.16
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
virtualenv==20.27.1
wcwidth==0.2.13
xattr==1.1.0
zstandard==0.23.0
django-celery-beat==2.7.0
